<p><%= l(:text_build_succeeded_notification, build: @build.name, number: @build.build_number) %></p>

<p><%= l(:label_build_details) %>:</p>
<ul>
  <li><%= l(:field_status) %>: <%= @build.status %></li>
  <li><%= l(:label_repository) %>: <%= @build.external_repository.full_name %></li>
  <li><%= l(:field_branch) %>: <%= @build.branch_name %></li>
  <li><%= l(:label_sha) %>: <%= @build.sha.to_s.first(7) %></li>
</ul>

<% if @issues.any? %>
  <p><%= l(:label_linked_issues) %>:</p>
  <ul>
    <% @issues.each do |issue| %>
      <li><%= link_to_issue(issue) %></li>
    <% end %>
  </ul>
<% end %>

<% if @build_url.present? %>
  <p><%= link_to l(:label_view_build), @build_url %></p>
<% end %>
